<%= semantic_form_for [:admin, @project] do |f| %>

<%= f.inputs :name => "Project Details" do %>
  <%= f.input :job_title,  :as => :select,  :collection => ["Development", "Digital Production", "Production"] %>
  <%= f.input :title %>
	<%= f.input :poster,  :as => :file %>
	<%= f.input :url, :as => :url %>
	<%= f.input :description, :as => :text %>
  <%= f.input :tag_list, :label => "Tags" %>

<% end %>

<%= f.inputs :name => "Images" do %>

<div id="image">
 	
	<%=  f.semantic_fields_for :project_image do |image| %>
    <%= render 'project_image_fields', :f => image %>
	<% end %>
	
	<div class="links">
    <%= link_to_add_association 'add image', f, :project_image, :partial => 'admin/projects/project_image_fields' %>
	</div>

</div>
<% end %>


<%= f.actions %>
<% end %>
  
