.nested-fields
  = f.inputs do
    = f.input :image, :as => :file, :name => 'Upload'
    %li
      = label_tag 'Image'
      -#= image_tag f.object.image.url(:thumb), :class => 'attachment'
    %li
      = label_tag 'remove'
      = link_to_remove_association "remove image", f